<h2>Plugin Demo</h2>

<blockquote>
    <article>
        <h1>{{ title }} {{ initDate | date:'HH:mm:ss:' }}{{ initDate % 1000 }}</h1>
        <div>
            <p>bla bla bla</p>
            <app-my-button></app-my-button>
        </div>
    </article>
</blockquote>

<!-- ~~~~~~~~~~~~~~~~
       Dynamic HTML
     ~~~~~~~~~~~~~~~~ -->

<button *ngIf="!showDynamicHTML" (click)="showDynamicHTML = true;">showDynamicHTML</button>

<blockquote *ngIf="showDynamicHTML">
    <dynamic-html [content]="contentHtml"></dynamic-html>
</blockquote>

<!-- ~~~~~~~~~~~~~~~~~~~~~
       Dynamic Component
     ~~~~~~~~~~~~~~~~~~~~~ -->

<button *ngIf="!showDynamicComponent" (click)="showDynamicComponent = true;">showDynamicComponent</button>

<blockquote *ngIf="showDynamicComponent">
    <div *dynamicComponent="templateComponent; context: {text: 'dynamicText', initDate: initDate};"></div>
</blockquote>

<!-- ~~~~~~~~~~~~~~~~~~
       Dynamic Module
     ~~~~~~~~~~~~~~~~~~ -->

<button *ngIf="!showDynamicModule" (click)="showDynamicModule = true; loadModule();">showDynamicModule</button>

<blockquote *ngIf="showDynamicModule">
    <!-- Our lazy-loaded component from our lazy-loaded module is going to be injected here -->
    <div #container></div>
</blockquote>

<!-- <app-test></app-test> -->